h3 {
  padding: 20px 0;
}

.container-pages {
  position: relative;
  padding-top: 20px;
  padding-bottom: 40px;
}

/* Modify bootstrap */
.alert {
  position: fixed !important;
  width: 90% !important;
  padding: 0.5rem 1rem !important;
  z-index: 9;
  top: 2%;
  left: 5%;
}

.card {
  margin-bottom: 20px;
}

.btn-light {
  border-color: darkgray !important;
}
.btn-light:hover {
  border-color: #333 !important;
}
